<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Thị giác máy tính</title>
  </head>
  <body>
    <div class="row text-center my-4 py-4 bg-warning" style="background-color: #ffff00">
      <h5>Thị giác máy tính - Nhóm 9</h5>
      <h1>Đề 1: Tìm kiếm bằng hình ảnh</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          {% if error %}
          <div class="alert alert-danger">{{ error }}</div>
          {% endif %}
          {% if original %}
          <img src="{{ 'static/' + original }}" id="original-img" />
          <div class="img-placeholder d-none" id="original-placeholder">
            Your image
          </div>
          {% else %}
          <img src="" class="d-none" id="original-img" />
          <div class="img-placeholder" id="original-placeholder">
            Your image
          </div>
          {% endif %}
          <form
            action="/search"
            class="mt-5 row"
            method="POST"
            enctype="multipart/form-data"
          >
            <div class="col-8">
              <input
                class="form-control"
                required
                type="file"
                name="q"
                onchange="readImage(this);"
                accept=".jpeg,.jpg,.png"
              />
            </div>
            <div class="col-4">
              <button class="btn btn-outline-primary">Search</button>
            </div>
          </form>
        </div>
        <div class="col text-center">
          <h2 class="">Results</h2>
          <div class="result-container bg-light bg-gradient">
            {% if results %} {% for img in results %}
              <img class="m-3 d-inline" src="{{ url_for('get_image', path=img) }}" />
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
    </div>
    <script>
      const placeholderEl = document.getElementById("original-placeholder");
      const imgEl = document.getElementById("original-img");

      function readImage(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            imgEl.src = e.target.result;
            imgEl.classList.remove("d-none");

            placeholderEl.class = "d-none";
          };

          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
  </body>
</html>